$f: 'Roboto',
sans-serif;

body {
    font-family: $f;
}


.flex {
    display: flex;
    flex-flow: row wrap;
}

.main-header {
    background: rgba(0, 176, 225, .8);
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-bottom: 10px;
    padding-top: 20px;
    transition: .5s;
    .navbar-default {
        background: none;
        border: none;
        margin: 0;
    }
    .navbar-nav {
        margin-top: 36px;
    }
    .navbar-nav > li > a {
        font-size: 16px;
        color: #fff;
    }
    .navbar-brand {
        height: auto;
        h1 {
            margin: 0;
            font-size: 34px;
            color: #fff;
            span {
                color: #FF8402;
            }
        }
        p {
            text-align: right;
            color: #fff;
            font-size: 24px;
            margin: 0;
            position: static;
            left: 36px;
            font-weight: 300;
        }
    }
    .address {
        position: absolute;
        right: 15px;
        top: 13px;
        color: #fff;
    }
}

.main-header.navbar-fixed-top {
    padding-bottom: 0;
    padding-top: 5px;
    transition: .5s;
}

.modal-dialog {
    margin: 150px auto;
}

.modal-content {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    a[data-dismiss="modal"] {
        position: absolute;
        right: 0;
        top: -26px;
        color: #fff;
    }
}

.modal-body {
    padding: 45px;

    p {
        font-size: 11px;
        margin-bottom: 20px;
    }
    label {
        display: block;
        color: #595959;
        font-weight: bold;
        padding-bottom: 6px;
    }
    input {
        background-color: #fff;
        border: 2px solid #c9c9c9;
        border-radius: 3px;
        display: inline-block;
        margin: 0 0 24px;
        min-height: 36px;
        min-width: 50px;
        padding: 0 0.4em;
        vertical-align: middle;
        width: 100%;
    }
    .submit {
        background-color: #ee836e;
        border: 0 none;
        border-radius: 3px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
        font-size: 13px;
        font-weight: 700;
        height: 36px;
        letter-spacing: 0.01em;
        line-height: 36px;
        margin-right: 0;
        overflow: hidden;
        padding: 0 18px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        max-width: 96px;
    }
}


.banner {
    min-height: 1020px;
    display: flex;
    align-items: center;
    background: url(../images/bg_main@2x.jpg) fixed;
    background-size: cover;
    .content {
        display: inline-block;
        background: rgba(1,176,255,.7);
        color: #fff;
        border-radius: 20px 20px 20px 0;
        text-align: center;
        padding: 85px 40px 40px 40px;
        h1 {
            margin: 0;
            font-size: 34px;
            margin-bottom: 40px;
            line-height: (41/34);
        }
        a.btn {
            font-weight: 500;
            display: block;
            font-size: 30px;
            background: #f8b51c;
            color: #fbf7ff;
            border-radius: 10px;
            padding: 17px 12px;
            transition: .5s;
            &:hover {
                background: #36af30;
            }
        }
    }
}

.space {
    padding: 85px 0;
}

.section-head {
    h2 {
        margin: 0;
        display: inline-block;
        color: #5E5E5E;
        border-bottom: 2px solid #05adf6;
        padding-bottom: 10px;
        text-transform: uppercase;
        margin-bottom: 85px;
    }
}

.patner {
    h3 {
        margin: 0;
        font-size: 41px;
        line-height: (49/41);
        color: #515151;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .item {
        padding: 30px 0;
        img {
            max-width: 100%;
        }
    }
}

.service {
    .table {
        max-width: 934px;
        margin: 0 auto;
    }
    .table tr {
        > th {
            border-bottom: transparent;
            font-weight: 400;
            font-size: 21px;
            border-right: 2px solid #e0e0e0;
            text-align: center;
            small {
                display: block;
                font-size: 15px;
                font-style: italic;
            }
        }
        > td {
            border-right: 2px solid #e0e0e0;
            border-top: 2px solid #e0e0e0;
            text-align: center;
            vertical-align: middle;
            &:first-child {
                text-align: left;
                font-size: 18px;
            }
//            &:last-child {
//                border-bottom: 2px solid #e0e0e0;
//            }
        }
        .price {
            font-size: 40px;
            font-weight: 500;
        }
    }
    .service-item {
        margin-top: 145px;
    }
    .item {
        border: 1px solid #00b1ff;
        border-radius: 8px;
        padding: 30px 15px 50px 15px;
        max-width: 450px;
        margin-bottom: 30px !important;
        h3 {
            margin: 0;
            font-size: 27px;
            font-weight: 400;
            margin-bottom: 18px;
        }
        .cost {
            color: #00B0FF;
            font-weight: 500;
            font-size: 40px;
            border-top: 2px solid #82d7ff;
            border-bottom: 2px solid #82d7ff;
            max-width: 220px;
            margin: 0 auto;
            padding: 3px 0;
        }
        p {
            margin: 0;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 45px;
            margin-top: 25px;
        }
        .button {
            font-size: 36px;
            max-width: 260px;
            margin: 0 auto;
        }
    }
}

.button {
    display: block;
    background: #ff8402;
    color: #fff;
    padding: 9px 12px;
    transition: .5s;
    font-size: 12px;
    white-space: normal;
    &:hover {
        background: #36af30;
        color: #fff;
    }
}

.benifits {
    background: #01b0ff;
    color: #fff;
    padding-bottom: 0;
    h3 {
        margin: 0;
        font-size: 50px;
        margin-bottom: 40px;
    }
    .item {
        padding-bottom: 90px;
        max-width: 490px;
        h4 {
            margin: 0;
            font-size: 30px;
            line-height: (37/30);
            margin-bottom: 10px;
        }
        p {
            margin: 0;
            font-size: 19px;
            line-height: (22/19);
            text-align: justify;
        }
    }
    .item.right {
        margin-left: auto;
    }
}

p {
    margin: 0;
}

.about-us {
    .item {
        p {
            font-size: 30px;
            line-height: (44/37);
            color: #848484;
            text-align: justify;
        }
    }
}

.section-border {
    border-top: 2px solid #f8b520;
    padding-top: 65px;
}

.contact {
    color: #848484;
    h3 {
        margin: 0;
        font-size: 41px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
        i {
            margin-right: 15px;
            color: #05adf6;
        }
    }
}

.main-footer {
    background: #ff8402;
    font-size: 21px;
    padding: 25px 0;
    p {
        color: #fff;
    }
}





@media (max-width:991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse.collapse.in {
        /* NEW */
        display: block!important;
    }
    .navbar-right {
        float: none !important;
        margin-top: 7px !important;
        margin-bottom: 7px !important;
    }






    .main-header .navbar-brand h1 {
        font-size: 22px;
    }
    .main-header .navbar-brand p {
        font-size: 16px;
    }
    .navbar-toggle {
        margin-top: 24px;
    }
    .main-header .address {
        display: none;
    }
    .main-header {
        padding-top: 8px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-fixed-top .navbar-toggle {
        margin-top: 17px;
    }
    .patner h3 {
        font-size: 28px;
    }
    .service .item {
        margin: 0 auto;
    }
    .benifits .item {
        margin: 0 auto;
    }
    .about-us .item p {
        font-size: 22px;
    }
    .contact p {
        font-size: 20px;
    }
    .contact h3 {
        font-size: 30px;
    }
    .benifits .item h4 {
        font-size: 20px;
    }
    .benifits .item p {
        font-size: 15px;
    }
    .benifits .item {
        padding-bottom: 50px;
    }
    .benifits {
        padding-bottom: 30px;
    }
    .benifits h3 {
        font-size: 30px;
    }
    .service .item p {
        font-size: 18px;
    }
}



@media (max-width:767px) {
    .service .table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    .service .table tr {
        img {
            width: 25px;
        }
        .price {
            font-size: 20px;
        }
    }
    .service .table tr > th {
        font-size: 16px;
        &:first-child {
            width: 40%;
        }
    }
    .service .table tr > th small {
        font-size: 11px;
    }
    .service .table tr > td:first-child {
        font-size: 14px;
    }
    .service .item .button {
	font-size: 25px;
}
}



@media (max-width:575px) {
    .button {
        font-size: 11px;
    }
    .banner {
	min-height: 780px;
}
    .banner .content h1 {
	font-size: 25px;
}
    .banner .content a.btn {
	font-size: 22px;
}
}


@media (max-width:480px) {
    .service .table tr > th:first-child {
        width: 35%;
    }
    .service .table tr > th,
    .service .table tr > td:first-child {
        font-size: 10px;
    }
    .service .table tr .price {
        font-size: 16px;
    }
    .button {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .contact p {
	font-size: 17px;
}
    .contact h3 {
	font-size: 25px;
}
    .main-footer {
	font-size: 14px;
}
    .about-us .item p {
	font-size: 18px;
}
    .main-header .navbar-brand h1 {
	font-size: 15px;
}
    .main-header .navbar-brand p {
	font-size: 12px;
	left: 20px;
}
    .navbar-toggle {
	margin-top: 18px;
}
    .section-head h2 {
	font-size: 20px;
}
}
